<!DOCTYPE html>
<html>
<head>
  <title>BlogEloquently</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container">
            <a href=<%= root_path %> class="navbar-brand">
                Our Blog
            </a>
            <ul class="nav navbar-nav">
                <% if current_user.nil? %>
                    <li><%= link_to("Log in", new_user_session_path) %></li>
                    <li><%= link_to("Sign up", new_user_registration_path) %></li>
                <% else %>
                    <li>Welcome <%= current_user.email %>.</li>
                    <li>%= link_to("Log out", destroy_user_session_path, method: :delete) %></li>
                <% end %>
            </ul>
        </div>
    </nav>
    <% if notice or alert %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    <% end %>
    <div class="container">
        <%= yield %>
    </div>
</body>
</html>
